<div class='div-full'>
  <div class='div-central font-default'>
    <div class='div-input'>    
      <textarea class='textarea-input' matInput cdkTextareaAutosize cdkAutosizeMinRows='5' [formControl]='contentsControl'></textarea>
      <button class='button-confirm font-default' (click)='createRecord()'>Save</button>  
    </div>
    
    <button class='div-output' (click)='copyLink()' [class]="newLink? 'hover-dark' : ''">
      <div class='div-link font-default' [style.opacity]="showingMessage ? '0' : '100'">{{newLink}}</div>
      <div class='div-message font-default' [style.opacity]="showingMessage ? '100' : '0'">{{message}}</div>
    </button>

  </div>
</div>

